.cart-item {
    display: grid;
    grid-template-columns: 80px 1fr auto 100px auto;
    grid-template-areas: "image title counter amount action";
    width: 100%;
    gap: 32px;
    align-items: center;

    &.-small {
        grid-template-columns: 48px auto 1fr;
        grid-template-areas: "image counter amount";
        gap: 20px;
        max-width: 320px;

        .price {
            font-size: 16px;
        }
    }

    &.-purchased {
        grid-template-columns: 80px 1fr auto;
        grid-template-areas: "image title amount";
        gap: 20px;
    }

    .a-image {
        grid-area: image;
    }
    .a-title {
        grid-area: title;
    }
    .a-counter {
        grid-area: counter;
    }
    .a-amount {
        grid-area: amount;
    }
    .a-action {
        grid-area: action;
    }

    @include media_breakpoint(mobile) {
        grid-template-columns: 50px auto 1fr auto;
        grid-template-areas: "image title title title" "counter counter amount action";
        gap: 12px;

        &.-purchased {
            grid-template-columns: 50px 1fr auto;
        }
    }
}