.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
    border: 0.5px solid var(--surface-color);
    background: var(--linear, linear-gradient(145deg, #BDBDBD 0%, rgba(255, 255, 255, 0.56) 100%));
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);

    &__image {
        max-width: 400px;
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 0.75fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "promo title favorite"
            "images info characteristics"
            "images price characteristics";
        gap: 20px 40px;
        justify-content: flex-start;

        .a-promo {
            grid-area: promo;
        }

        .a-title {
            grid-area: title;
        }

        .a-favorite {
            grid-area: favorite;
        }

        .a-images {
            grid-area: images;
        }

        .a-info {
            grid-area: info;
        }

        .a-characteristics {
            grid-area: characteristics;
        }

        .a-price {
            grid-area: price;
        }
    }

    &.-card {
        .product__main {
            grid-template-columns: 27% 1fr 1fr 40px;
            grid-template-rows: auto auto 1fr auto;
            grid-template-areas:
                "promo title title favorite"
                "images title title favorite"
                "images info characteristics characteristics"
                "images price characteristics characteristics";
        }
    }
}

.product-description {
    .h3, .h2 {
        padding-bottom: 12px;
    }

    &.-manufacturer {

        .logo {
            flex-shrink: 0;
            width: 30%;
            height: auto;
            max-width: 436px;
            max-height: 184px;
        }
    }
}

.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 90px;
    gap: 20px;
}
