.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
    border: 0.5px solid var(--surface-color);
    background: var(--linear, linear-gradient(145deg, #D9D9D9 0%, rgba(255, 255, 255, 0.56) 100%));
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);

    &__image {
        max-width: 400px;
        max-height: 420px;
        margin: 0 auto;
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 0.75fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "promo title favorite"
            "images info characteristics"
            "images price characteristics";
        gap: 20px 40px;
        justify-content: flex-start;

        .a-promo {
            grid-area: promo;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            white-space: nowrap;
        }

        .a-title {
            grid-area: title;
        }

        .a-favorite {
            grid-area: favorite;
        }

        .a-images {
            grid-area: images;
        }

        .a-info {
            grid-area: info;
        }

        .a-characteristics {
            grid-area: characteristics;
        }

        .a-price {
            grid-area: price;
        }
    }

    &.-card {
        .product__main {
            grid-template-columns: 27% 1fr 1fr 40px;
            grid-template-rows: auto auto 1fr auto;
            grid-template-areas:
                "promo title title favorite"
                "images title title favorite"
                "images info characteristics characteristics"
                "images price characteristics characteristics";
        }
    }

    @include media_breakpoint(mobile) {
        padding: 12px;

        &__image {
            max-width: 100%;
            height: 150px;
        }

        &__main {
            gap: 20px 12px;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas:
                    "favorite promo"
                    "images images"
                    "title title"
                    "info info"
                    "price price"
                    "characteristics characteristics";

            .a-favorite {
                span {
                    display: none;
                }
            }

            .a-promo {
                justify-content: flex-end;
            }

            .a-title {
                text-align: center;
            }
        }
        &.-card {
            padding: 12px;

            .product__main {
                gap: 20px 12px;
                grid-template-columns: auto 1fr;
                grid-template-rows: auto auto auto auto auto;
                grid-template-areas:
                    "favorite promo"
                    "images images"
                    "title title"
                    "info info"
                    "price price"
                    "characteristics characteristics";
            }
        }
    }
}

.product-description {
    .h3, .h2 {
        padding-bottom: 12px;
    }

    &.-manufacturer {

        .logo {
            flex-shrink: 0;
            width: 30%;
            height: auto;
            max-width: 436px;
            max-height: 184px;
            margin-bottom: auto;
        }
    }
}

.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    gap: 20px;

    @include media_breakpoint(mobile) {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 12px;
        gap: 12px;

        .button-accent {
            br {
                display: none;
            }
        }
    }
}

.product-small {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    gap: 12px;
    color: var(--main-color);
    border-radius: 20px;
    border: 0.5px solid var(--surface-color);
    background-image: linear-gradient(145deg, #D9D9D9 0%, rgba(255, 255, 255, 0.56) 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

    > * {
        z-index: 2;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--surface-color);
        border-radius: inherit;
        opacity: 0;
        transition: all ease-in-out 0.3s;
    }

    &:hover {
        &:before {
            z-index: 1;
            opacity: 1;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 12px;
    }

    &__promo {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
        color: var(--primary-color);
        gap: 8px;

        > * {
            margin-left: auto;
        }
    }

    &__image {
        flex-shrink: 0;
        display: block;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }

    &__title {
        display: flex;
        flex-direction: column;
        padding-top: 12px;
        text-align: center;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price {
        margin-top: auto;
    }

    @include media_breakpoint(tablet) {
        padding: 20px 12px;
        &__top {
            gap: 8px;
        }
    }
    @include media_breakpoint(mobile) {
        padding: 10px;
    }
}
