.app-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    height: var(--header-bottom-height);
    font-family: 'Fira Mono', sans-serif;

    &__item {
        display: inline-flex;
        align-items: center;
    }

    &__more {
        display: none;
    }

    .button-accent {
        font-size: 14px;
        font-weight: 500;

        svg, img {
            width: 24px;
            height: 24px;
        }
    }

    @include media_breakpoint(desktop) {
        padding: 0 20px;
    }

    @include media_breakpoint(tablet) {
        justify-content: flex-start;
        gap: 2vw;

        &__more {
            display: flex;
            align-items: center;
            margin-left: auto;

            .button.-more {
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                color: var(--main-color);

                svg {
                    color: var(--primary-color);
                }
            }
        }
    }

    @include media_breakpoint(mobile) {
        flex-direction: column;
        height: auto;
        padding: 0 30px;

        &__more {
            display: none;
        }

        &__item {
            padding-left: 0 !important;

            br {
                display: none;
            }

            &:nth-last-child(-n+2) {
                padding-bottom: 0;
            }

            &:nth-child(n+5) {
                display: flex;
            }
        }
    }

}