.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 22px;
    height: var(--action-height);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    white-space: nowrap;
    text-transform: none;
    color: var(--surface-color);
    background-color: var(--main-color);
    background-image: none;
    border-radius: 10px;
    transition-property: background-color, color, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;

    &:not(.-text):not(.-icon) {
        min-width: 288px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &:not(.-disabled):not(:disabled):not(.-text):hover {
        //color: var(--surface-color);
        background-color: var(--primary-color);
    }

    &:not(.-disabled):not(:disabled):not(.-text):active {
        //color: var(--surface-color);
        background-color: var(--primary-color);
        background-image: linear-gradient(180deg, #E63E1D 0%, #DF1E26 100%);

    }

    &:disabled, &.-disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
    }

    &.-small {
        height: var(--action-small-height);
        font-size: 16px;
        border-radius: 20px;

        &:not(.-text):not(.-icon) {
            min-width: 174px;
        }
    }

    &.-outline {
        background-color: var(--surface-color);
        color: var(--main-color);
        border: 1px solid currentColor;
        border-radius: 20px;
        background-image: none !important;

        &:not(.-disabled):not(:disabled):hover,
        &:not(.-disabled):not(:disabled):active {
            color: var(--primary-color);
            background-color: var(--surface-color);
        }
    }

    &.-primary-outline {
        background-color: var(--surface-color);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        border-radius: 20px;

        &:not(.-disabled):not(:disabled):hover,
        &:not(.-disabled):not(:disabled):active {
            color: var(--surface-color);
            background-color: var(--primary-color);
        }
    }

    &.-icon {
        flex-shrink: 0;
        height: 24px;
        width: 24px;
        padding: 0;
        border-radius: 0;
        color: currentColor;
        background: none !important;

        &.-size-20 {
            width: 20px;
            height: 20px;
        }

        &.-size-36 {
            width: 36px;
            height: 36px;
        }

        &.-size-40 {
            width: 40px;
            height: 40px;
        }

        svg, img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }

        &:not(.-disabled):not(:disabled):hover {
            color: var(--primary-color);
            background: none;
        }

        &.-favorite {
            svg {
                fill: var(--surface-color);
                stroke: var(--text-light-color);
                transition-property: fill, stroke;
                transition-timing-function: ease-in-out;
                transition-duration: 0.2s;
            }

            &:not(.-disabled):not(:disabled):hover,
            &.-active {
                svg {
                    fill: var(--error-color);
                    stroke: var(--error-color);
                }
            }
        }
    }

    &.-text {
        align-items: baseline;
        height: auto;
        padding: 0;
        font-size: inherit;
        font-weight: 400;
        color: currentColor;
        white-space: normal;
        background: none;
        gap: 12px;

        svg, img {
            flex-shrink: 0;
            display: inline-flex;
            width: 24px;
            height: 24px;
        }

        &.-underline {
            font-weight: 700;
            text-decoration: underline;
        }

        &:not(.-disabled):not(:disabled):hover {
            color: var(--primary-color);
            background: none;
        }

        &.-primary {
            color: var(--primary-color);

            &:not(.-disabled):not(:disabled):hover {
                color: var(--main-color);
            }
        }
    }
}

.button.-cart {
    position: relative;

    .badge {
        position: absolute;
        top: -5px;
        left: 16px;
    }
}

.button-accent {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: "Fira Mono", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: var(--main-color);
    transition-property: background-color, color, opacity, font-weight;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    gap: 12px;

    span {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            display: inline-flex;
            width: 0;
            height: 3px;
            background-color: var(--primary-color);
            transition: width ease-in-out 0.2s;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: calc(100% + 2px);
            display: inline-flex;
            width: 0;
            height: 17px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.646484 0L0.653293 16.7124L20.9992 8.34945L0.646484 0Z' fill='%23E63E1D'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 21px 17px;
            background-position: center;
            transition: width ease-in-out 0.05s;
        }
    }

    svg, img {
        flex-shrink: 0;
        display: inline-flex;
        width: 50px;
        height: 47px;
        color: currentColor;
        transition: color ease-in-out 0.2s;
    }

    &.-vertical {
        flex-direction: column;

        svg, img {
            width: 60px;
            height: 40px;
        }
    }

    &:not(.-disabled):not(:disabled):hover,
    &.-active {
        font-weight: 700;

        span {
            &:before {
                width: 100%;
            }

            &:after {
                width: 21px;
                transition-delay: 0.1s;
                transition-duration: 0.1s;
            }
        }

        svg, img {
            color: var(--primary-color);
        }
    }

    @include media_breakpoint(tablet) {
        gap: 8px;

        svg, img {
            width: 40px;
            height: 37px;
        }

        &.-vertical {
            text-align: center;

            svg, img {
                width: 40px;
                height: 30px;
            }
        }
    }

    @include media_breakpoint(mobile) {
        &.-vertical {
            flex-direction: row;
        }
    }
}