.index-sale {
    display: block;
    padding: 64px 0;
    color: var(--main-color);
    background-color: var(--yellow-color);

    &__carousel {
        display: block;
        padding: 32px 0;
    }

    &__action {
        display: flex;
        justify-content: center;
    }

    @include media_breakpoint(mobile) {
        &__action {
            .button {
                width: 100%;
            }
        }
    }
}