.input {
    position: relative;
    display: flex;
    width: 100%;

    &__field {
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 400;
        line-height: 1;
        border-radius: 20px;
        transition: border ease-in-out 0.2s;
    }

    &.-simple {
        .input__field {
            height: var(--action-height);
            font-size: 16px;
            color: var(--main-color);
            background-color: var(--surface-color);
            border: 1px solid var(--darker-gray-color);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }

    &.-textarea {
        .input__field {
            height: 70px;
        }

        textarea {
            padding: 16px 0;
        }
    }

    input, textarea {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 22px;
        right: 22px;
        display: block;
        padding: 12px 0;
        font: inherit;
        color: inherit;

        &:focus + .input__field {
            border-color: var(--main-color);
        }
    }
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    padding: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: var(--surface-color);
    border-radius: 6.5px;
    background-color: var(--main-color);
    border: 1px solid var(--darker-gray-color);

    input, textarea {
        width: 100%;
        font: inherit;
        color: inherit;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}