.input {
    position: relative;
    display: flex;
    width: 100%;

    &__field {
        display: flex;
        align-items: center;
        width: 100%;
        height: var(--action-large-height);
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        color: var(--text-color);
        background-color: var(--gray-color);
        border: 1px solid var(--gray-color);
        border-radius: 20px;
        transition: border ease-in-out 0.2s;
    }

    &.-decor {
        .input__field {
            border: 0.5px solid var(--surface-color);
            background-color: var(--surface-color);
            background-image: linear-gradient(rgba(189, 189, 189, 0.5) 0%, rgba(255, 255, 255, 1) 70%);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }

        input, textarea, select {
            &:focus + .input__field {
                border: 1px solid var(--gray-color);
            }
        }

    }

    &.-simple {
        .input__field {
            height: var(--action-height);
            font-size: 16px;
            color: var(--main-color);
            background-color: var(--surface-color);
            border: 1px solid var(--darker-gray-color);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        }

        input, textarea, select {
            top: 13px;

            &:focus + .input__field {
                border-color: var(--main-color);
            }
        }

        &.-textarea {
            .input__field {
                height: 70px;
            }

            textarea {
                padding-top: 4px;
            }
        }
    }

    label {
        position: absolute;
        top: 12px;
        left: 22px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        color: var(--text-light-color);
    }

    input, textarea, select {
        position: absolute;
        top: 41px;
        bottom: 1px;
        left: 22px;
        right: 22px;
        display: block;
        padding: 0 0 12px;
        font: inherit;
        color: inherit;
        text-overflow: ellipsis;

        option {
            max-width: 300px;
            white-space: normal;
        }

        &:focus + .input__field {
            border-color: var(--text-light-color);
        }
    }

    select {
        left: 18px;
    }
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    padding: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: var(--surface-color);
    border-radius: 6.5px;
    background-color: var(--main-color);
    border: 1px solid var(--darker-gray-color);

    input, textarea {
        width: 100%;
        font: inherit;
        color: inherit;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

@mixin range-slider($width, $height, $line-height, $input-top, $input-bg-color, $input-thumb-color, $float:none, $input-height:20px, $input-border-radius:14px) {
    position: relative;
    width: $width;
    height: $height;
    float: $float;
    text-align: left;

    input[type="range"] {
        pointer-events: none;
        position: absolute;
        appearance: none;
        border: none;
        border-radius: $input-border-radius;
        background: $input-bg-color;
        left: 0;
        top: $input-top;
        width: $width;
        outline: none;
        height: $line-height;
        margin: 0;
        padding: 0;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 1;
        outline: 0;
        appearance: none;
        width: $input-height;
        height: $input-height;
        border: none;
        border-radius: $input-border-radius;
        background: $input-thumb-color;
    }

    input[type="range"]:last-child::-webkit-slider-thumb {
        width: calc($input-height + 5px);
        height: calc($input-height + 5px);
        background: none;
        background-size: contain;
        background-position: center 2px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.646484 0L0.653293 16.7124L20.9992 8.34945L0.646484 0Z' fill='%23E63E1D'/%3e%3c/svg%3e");
    }

    input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        appearance: none;
        width: $input-height;
        height: $input-height;
        border: none;
        border-radius: $input-border-radius;
        background: $input-thumb-color;
    }

    input[type="range"]::-ms-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -ms-appearance: none;
        width: $input-height;
        height: $input-height;
        border-radius: $input-border-radius;
        border: 0;
        background: $input-thumb-color;
    }

    input[type=range]::-moz-range-track {
        position: relative;
        z-index: -1;
        background: $input-thumb-color;
        border: 0;
    }

    input[type=range]:last-of-type::-moz-range-track {
        appearance: none;
        background: $input-thumb-color;
        border: 0;
    }

    input[type=range]::-moz-focus-outer {
        border: 0;
    }
}

.range-slider {
    @include range-slider(100%, 44px, 3px, 34px, #DDABA1, #E63E1D, none, 16px, 0px);
}

.accordion {
    > input {
        display: none;
    }

    > label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        svg {
            width: 16px;
            height: 8px;
            margin-left: 8px;
            transition: transform ease-in-out 0.2s;
        }

    }

    > article {
        height: 0;
        overflow: hidden;
    }

    input:checked + label svg {
        transform: rotate(-180deg);
    }

    input:checked + label + article {
        height: auto;
    }
}


.checkbox,
.switch {
    position: relative;
    //z-index: 1;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;

    input[type=checkbox],
    input[type=radio] {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: inherit;
        user-select: none;
    }

    &__label {
        display: block;
        padding-left: 30px;
        font: inherit;
        cursor: pointer;

        a {
            text-decoration: underline;
        }
    }
}

.checkbox {
    &__icon {
        position: relative;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        margin-top: 2px;
        margin-right: -16px;
        color: white;
        background-color: rgba(0,0,0,0);
        border-radius: 0;
        border: 2px solid var(--main-color);
        pointer-events: none;
        transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

        svg {
            opacity: 0;
            position: absolute;
            left: 2px;
            bottom: 1px;
            width: 16px;
            height: 16px;
            pointer-events: none;
            color: var(--main-color);
            transition: opacity 0.1s ease-in-out;
        }
    }

    input[type=checkbox]:checked + .checkbox__icon,
    input[type=radio]:checked + .checkbox__icon {
        background-color: var(--primary-color);
        border-color: var(--primary-color);

        svg {
            opacity: 1;
        }
    }

    input[type=radio] + .checkbox__icon {
        border-radius: 50%;
    }

    &.-simple {
        color: var(--text-light-color);

        .checkbox__icon {
            border: 2px solid var(--text-light-color);

            svg {
                left: 1px;
                width: 10px;
                height: 10px;
            }
        }

        input[type=checkbox]:checked + .checkbox__icon,
        input[type=radio]:checked + .checkbox__icon {
            background-color: rgba(0, 0, 0, 0);
            border-color: var(--text-light-color);
        }

        .checkbox__label {
            line-height: 18px;
        }
    }

    &.-disabled {
        color: var(--text-light-color);
        cursor: default;

        .checkbox__icon {
            color: var(--text-light-color) !important;
            background: none;
            border-color: var(--text-light-color) !important;
        }

        input[type=checkbox],
        input[type=radio] {
            display: none;
            pointer-events: none;
        }
    }
}

.input-switch {
    &__wrapper {
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: inherit;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        display: inline-flex;
        width: 32px;
        height: 18px;
        border-radius: 12px;
        background-color: var(--main-color);

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 2px;
            bottom: 2px;
            left: 2px;
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: white;
        }
    }

    &__label {
        margin-top: -2px;
    }

    input[type=checkbox]:checked + .switch__icon,
    input[type=radio]:checked + .switch__icon {
        background-color: var(--primary-color);

        &:before {
            left: auto;
            right: 2px;
        }
    }

    &.-disabled {
        color: var(--text-light-color);
        cursor: default;

        .switch__icon {
            background-color: var(--text-light-color) !important;
        }

        input[type=checkbox],
        input[type=radio] {
            display: none;
            pointer-events: none;
        }
    }

    &.-revers {
        .switch__wrapper {
            flex-direction: row-reverse;
        }

        .switch__label {
            padding-left: 0;
            padding-right: var(--inner-padding);
        }
    }

    &.-small {
        .switch__icon {
            width: 24px;
            height: 14px;

            &:before {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.counter {
    display: flex;
    width: 120px;
    font-size: 16px;
    height: var(--action-small-height);
    border: 1px solid var(--primary-color);
    border-radius: var(--root-radius);
    overflow: hidden;
    background-color: var(--surface-color);

    .minus, .plus {
        flex-shrink: 0;
        display: inline-flex;
        align-items: flex-start;
        justify-content: center;
        width: var(--action-small-height);
        height: var(--action-small-height);
        font-size: 30px;
        line-height: 28px;
        color: var(--surface-color);
        background-color: var(--primary-color);
    }

    &.-small {
        width: 100px;
        height: 24px;
        font-size: 14px;
        border-color: var(--text-light-color);

        .minus, .plus {
            width: 24px;
            height: 24px;
            font-size: 22px;
            line-height: 20px;
            color: var(--text-light-color);
            background-color: var(--surface-color);
        }
        .minus {
            border-right: 1px solid var(--text-light-color);
        }
        .plus {
            border-left: 1px solid var(--text-light-color);
        }
    }

    input {
        width: 100%;
        padding: 0 10px;
        text-align: center;
    }
}

.input-photo {
    display: inline-flex;
    transition: color ease-in-out 0.2s;

    label {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    svg {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        color: var(--primary-color);
    }

    input {
        display: none;
    }

    &:hover {
        color: var(--primary-color);
    }

}

