.h1 {
    display: block;
    margin: 0;
    font-size: 36px;
    font-weight: 700;

    @include media_breakpoint(tablet) {
        font-size: 30px;
    }
}

.h2 {
    display: block;
    margin: 0;
    font-size: 30px;
    font-weight: 700;

    @include media_breakpoint(tablet) {
        font-size: 26px;
    }
}

.h3 {
    display: block;
    margin: 0;
    font-size: 24px;
    font-weight: 500;

    @include media_breakpoint(tablet) {
        font-size: 20px;
    }
}

.large-text {
    display: block;
    margin: 0;
    font-size: 20px;
    font-weight: 700;

    @include media_breakpoint(tablet) {
        font-size: 18px;
    }
}

.accent-font {
    font-family: 'Chianti', Arial, sans-serif;
    font-weight: 400;
    line-height: 1;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}