.index-certificates {
    display: block;
    padding-top: 64px;
    padding-bottom: 64px;

    .h2 {
        padding-bottom: 32px;
    }

    &__title {
        position: relative;
        display: block;
        width: 610px;
        margin: 0 auto;
        padding-top: 92px;
        font-size: 50px;
        color: var(--main-color);
        text-align: center;
    }

    &__image-arrow {
        position: absolute;
        right: 0;
        bottom: -80px;
        transform: rotate(90deg);

        svg {
            width: 70px;
            height: 92px;
            color: var(--primary-color);
        }
    }

    &__content {
        display: block;
        background-color: var(--purple-color);

        &.-bg-light-yellow {
            background-color: #F9F188;
        }
    }

    &__image {
        display: block;
        margin-left: auto;
        width: 460px;
        height: 555px;

        img {
            object-position: right bottom;
        }
    }

    &__carousel {
        display: block;
        margin-top: -200px;
    }

    @include media_breakpoint(tablet) {
        &__title {
            width: 100%;
            max-width: 520px;
            padding-top: 52px;
            padding-right: 20px;
            margin-right: 0;
            font-size: 32px;
        }

        &__image {
            width: 100%;
            height: 480px;
            max-height: 60vw;

            img {
                object-position: center;
                object-fit: cover;
            }
        }

        &__image-arrow {
            right: 70px;
            bottom: -100px;
        }
    }

    @include media_breakpoint(mobile) {
        &__content {
            margin: 0 calc(-1 * var(--mobile-padding));
            border-radius: 0;

            .row {
                flex-direction: column-reverse;
            }
        }

        &__carousel {
            margin: -200px calc(-1 * var(--mobile-padding)) 0;
        }

        &__image {
            height: 100vw;
            max-height: 440px;
            margin-top: -30vw;
            margin-left: -30vw;

            img {
                object-fit: contain;
            }
        }

        &__title {
            width: 380px;
            max-width: 70vw;
            margin: auto 0 auto auto;
            padding-top: 32px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 24px;
            //text-align: right;
        }

        &__image-arrow {
            right: 40px;
            bottom: -80px;
            transform: rotate(90deg) scale(0.75);
        }
    }
}