.cart-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 40px;
        padding-bottom: 64px;
    }

    &__checkout {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 820px;
        margin: 0 auto;
        gap: 20px;
        padding-bottom: 64px;

        .primary-line {
            max-width: 220px;
        }

        .values-list {
            max-width: 600px;
        }
    }

    &__image {

    }

    @include media_breakpoint(desktop) {
        gap: 100px;
        padding: 0 20px;
    }

    @include media_breakpoint(tablet) {
        flex-direction: column;
    }

}