.cart-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 40px;
        padding-bottom: 64px;
    }

    &__checkout {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 820px;
        margin: 0 auto;
        gap: 20px;
        padding-bottom: 64px;

        .primary-line {
            max-width: 220px;
        }

        .values-list {
            max-width: 600px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 80px 1fr auto 100px auto;
        grid-template-areas: "image title counter amount action";
        width: 100%;
        gap: 32px;
        align-items: center;

        .a-image {
            grid-area: image;
        }
        .a-title {
            grid-area: title;
        }
        .a-counter {
            grid-area: counter;
        }
        .a-amount {
            grid-area: amount;
        }
        .a-action {
            grid-area: action;
        }
    }

    &__image {

    }

    @include media_breakpoint(desktop) {
        gap: 100px;
        padding-left: 20px;
    }

    @include media_breakpoint(tablet) {
        flex-direction: column;
    }

    @include media_breakpoint(mobile) {
        &__item {
            grid-template-columns: 50px auto 1fr auto ;
            grid-template-areas: "image title title title" "counter counter amount action";
            gap: 12px;
        }
    }

}