.catalog-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 40px;
        padding-bottom: 64px;
    }

    &__top {
        display: flex;
        width: 100%;
        height: 32px;
        margin-top: 16px;
        margin-bottom: -16px;
    }

    @include media_breakpoint(small-desktop) {

    }

    @include media_breakpoint(tablet) {
        flex-direction: column;
    }

}