.manufacturers-page {
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 60px;

        @include media_breakpoint(mobile) {
            gap: 40px
        }
    }

    .manufacturer {
        &__image {
            float: left;
            display: block;
            width: 440px;
            height: 185px;
            margin-right: 60px;
            margin-bottom: 40px;
        }

        &__description {
            display: block;
            padding-top: 20px;
        }

        @include media_breakpoint(tablet) {
            &__image {
                width: 340px;
                height: 150px;
                margin-right: 40px;
                margin-bottom: 20px
            }
        }
        @include media_breakpoint(mobile) {
            &__image {
                float: none;
                width: 100%;
                height: auto;
                max-width: 340px;
                max-height: 150px;
                margin: 0 auto;
            }
        }
    }
}