
.page-title {
    padding-top: 24px;
    text-align: center;

    .subtitle {
        padding-top: 20px;
        font-size: 20px;
    }

    @include media_breakpoint(mobile) {
        padding-top: 12px;
    }
}

.page-item {
    display: block;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;

    &.-small-padding {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @include media_breakpoint(tablet) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
