.piroblog-page {
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 60px;

        @include media_breakpoint(mobile) {
            gap: 40px
        }
    }

    .card.-image {
        display: block;
        height: 364px;
        overflow: hidden;

        img {
            object-fit: cover;
        }

        @include media_breakpoint(mobile) {
            height: 60vw;
            max-height: 300px;
        }
    }

    .card.-pirotype {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 40px;
        gap: 40px;

        .primary-line {
            width: 50%;
            max-width: 220px;
        }

        .card__title {
            font-size: 30px;
            max-width: 60%;
        }

        @include media_breakpoint(tablet) {
            padding: 20px;
            gap: 30px;
        }

        @include media_breakpoint(mobile) {
            gap: 20px;

            .card__title {
                font-size: 22px;
                max-width: 200px;
            }
        }
    }
}