.profile-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 40px;
        padding-bottom: 64px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
    }

    &__form-item {
        &.-actions {
            display: flex;
            justify-content: center;
            gap: 24px;
        }
    }

    &__upload-photo {
        display: flex;
        align-items: center;
        gap: 24px;

        .avatar {
            flex-shrink: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: var(--gray-color);
            background-image: url(../img/user-avatar.svg);
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
        }
    }

    .card-color.-personal,
    .card-color.-card,
    .card-color.-bonuses, {
        height: 20vw;
        max-height: 300px;
        min-height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .avatar {
            flex-shrink: 0;
            display: flex;
            width: 15vw;
            height: 15vw;
            max-width: 228px;
            max-height: 228px;
            min-width: 100px;
            min-height: 100px;
            border-radius: 50%;
            background-color: var(--gray-color);
            background-image: url("../img/user-avatar.svg");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;

            img {
                object-fit: cover;
            }
        }

        &.-personal {
            display: flex;
            align-items: center;

            .title {
                display: block;
                margin-top: auto;
                width: 100%;
            }

            .number {
                display: block;
                padding-top: 48px;
                font-size: 20px;
            }
        }

        &.-card {
            display: flex;
            flex-direction: column;
            padding-left: 50%;
            background-image: url("../img/profile-personal-card.jpeg");

            .discount {
                span:first-child {
                    font-size: 120px;
                    line-height: 100px;
                    font-weight: 700;
                }
                span:nth-child(2) {
                    font-size: 60px;
                    font-weight: 500;
                }
            }

            .number {
                display: block;
                margin-top: auto;
                padding-top: 20px;
                font-size: 20px;
                text-align: right;
            }
        }

        &.-bonuses {
            display: flex;
            flex-direction: column;
            background-image: url("../img/profile-bonuses-card.jpeg");

            .discount {
                span:first-child {
                    font-size: 120px;
                    line-height: 100px;
                    font-weight: 700;
                }
            }
            .number {
                display: block;
                margin-top: auto;
                padding-top: 20px;
            }
        }
    }

    .card-color.-order-info {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        padding: 20px 30px;

        svg {
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            color: var(--text-light-color);
        }
    }

    .card-color.-order {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding: 20px;

        .card-color__item {
            display: flex;
            gap: 40px;
            font-size: 14px;
        }

        .info, .amount {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 12px;

            *:first-child {
                display: inline-flex;
                align-items: flex-end;
                min-height: 30px;
                padding-bottom: 3px;
            }
        }

        .amount {
            align-items: flex-end;
        }

        .status {
            display: inline-flex;
            align-items: flex-start;
            gap: 12px;

            svg {
                flex-shrink: 0;
                width: 30px;
                height: 30px;

            }

            &.-transit {
                svg {
                    color: var(--primary-color);
                }
            }

            &.-canceled {
                svg {
                    color: var(--text-light-color);
                }
            }
        }
    }

    @include media_breakpoint(small-desktop) {
        .card-color.-order {
            .card-color__item {
                gap: 12px;
            }
        }
    }

    @include media_breakpoint(desktop) {
        padding: 0 20px;
    }

    @include media_breakpoint(tablet) {
        gap: 20px;

        &__inner {
            gap: 20px;
        }

        .card-color.-order {
            .card-color__item {
                gap: 20px;
            }
        }

        .aside.-right {
            width: 320px;
        }
    }

    @include media_breakpoint(mobile) {
        flex-direction: column;

        &__inner {
            padding-bottom: 0;
        }

        &__upload-photo {
            .avatar {
                width: 70px;
                height: 70px;
            }
        }

        .card-color {
            padding: 12px !important;

            &.-card, &.-bonuses {
                .discount {
                    span:first-child {
                        font-size: 80px;
                        line-height: 60px;
                    }

                    span:nth-child(2) {
                        font-size: 40px;
                    }
                }
            }

            &.-bonuses {
                    .number {
                        max-width: 60%;
                        font-size: 14px;
                    }
            }

            &.-order {
                .card-color__item {
                    flex-direction: column;
                    gap: 12px;
                }

                .info, .amount {
                    gap: 8px;
                }

            }
        }

        .aside.-right {
            width: 100%;
        }
    }

}