.purchaser-page {
    .card.-loyalty {
        background-image: url("../img/box-loyalty.png");
    }
    .card.-delivery {
        background-image: url("../img/box-delivery.png");
    }
    .card.-certificates {
        background-image: url("../img/box-certificates.png");
    }
    .card.-reviews {
        background-image: url("../img/box-reviews.png");
    }
    .card.-order {
        background-image: url("../img/box-order.png");
    }
    .card.-instructions {
        background-image: url("../img/box-instructions.png");
    }
    .card.-return {
        background-image: url("../img/box-return.png");
    }
}