.special-page {
    .card.-wedding {
        background-image: url("../img/box-wedding.png");
    }
    .card.-gender {
        background-image: url("../img/box-gender.png");
    }
    .card.-birthday {
        background-image: url("../img/box-birthday.png");
    }
    .card.-new-year {
        background-image: url("../img/box-new-year.png");
    }
    .card.-children {
        background-image: url("../img/box-children.png");
    }
    .card.-corporate {
        background-image: url("../img/box-corporate.png");
    }
}