.wholesale-page {
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 64px;
        padding: 0;

        &.-padding {
            padding-top: 64px;
            padding-bottom: 64px;
        }
    }

    &__columns {
        display: block;
        column-count: 5;
        column-gap: 40px;
        width: 100%;
        max-width: 1160px;
        padding: 120px 20px 0;
        margin: 0 auto;
    }

    .city-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: var(--text-color);
    }

    .image-arrow {
        position: absolute;

        svg {
            width: 70px;
            height: 92px;
            color: var(--primary-color);
        }
    }

    @include media_breakpoint(tablet) {
        &__content {
            gap: 32px;

            &.-padding {
                padding-top: 32px;
                padding-bottom: 32px;
            }
        }

        &__columns {
            column-count: 3;
        }
    }

    @include media_breakpoint(mobile) {
        &__columns {
            column-count: 2;
        }
    }
    @include media_breakpoint(small-mobile) {
        &__columns {
            column-count: 1;
        }
    }

    .card.-pyrotechnics {
        background-image: url("../img/box-pyrotechnics.png");
    }
    .card.-my-business {
        background-image: url("../img/box-my-business.png");
    }
    .card.-corporate-purchase {
        background-image: url("../img/box-corporate-purchase.png");
    }

    .card.-wholesale-pyro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 555px;
        padding: 60px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        background-color: #95D298;
        background-image: url(../img/wholesale-pyro.png);
        overflow: hidden;

        .markers-list {
            margin-left: 50%;
            padding-top: 7%;
            font-size: 30px;
        }

        @include media_breakpoint(tablet) {
            height: 400px;
            background-image: linear-gradient(90deg, rgba(204, 108, 132, 0) 70%, rgba(204, 108, 132, 1) 100%), url(../img/wholesale-pyro.png);

            .markers-list {
                font-size: 24px;
            }
        }

        @include media_breakpoint(mobile) {
            height: 40vw;
            padding: 40px 20px;
            //background-position: -60px top;

            .markers-list {
                width: 48vw;
                margin-left: auto;
                font-size: 20px;
            }
        }

        @include media_breakpoint(small-mobile) {
            height: auto;
            padding: 40px 10px 68vw;
            background-color: #CC6C84;
            background-size: 100% calc(100% - 65vw), auto 70vw;
            background-position: left top, left bottom;
            background-image: linear-gradient( #CC6C84 0%, #ECA2AF 90%, rgba(255,255,255, 0) 100%), url(../img/wholesale-pyro.png);

            .markers-list {
                margin: 0;
                padding: 0 10px 0;
                width: 100%;
            }
        }
    }

    .card.-wholesale-sale {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 555px;
        padding: 60px 60px 24px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        background-color: #01ACE4;
        background-image: url(../img/wholesale-sale.png);
        overflow: hidden;

        .card__title {
            font-size: 100px;
            background-image: linear-gradient(132deg, rgba(255, 255, 255, 0.36) 0.02%, rgba(255, 255, 255, 0.56) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .card__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 30px;
            gap: 12px;
            padding-top: 36px;
            padding-bottom: 14px;
        }

        .card__text {
            display: block;
            padding: 12px 60px;
            margin: 14px -60px 0;
            font-weight: 500;
            text-align: left;
            background-repeat: no-repeat;
            background-image: linear-gradient(132deg, rgba(255, 255, 255, 0.36) 0.02%, rgba(255, 255, 255, 0.56) 100%);

        }

        @include media_breakpoint(tablet) {
            padding: 40px 40px 24px;
            height: auto;

            .card__title {
                font-size: 7vw;
            }

            .card__content {
                font-size: 24px;
            }

            .card__text {
                margin: 14px -40px 0;
                padding: 12px 40px;
            }
        }

        @include media_breakpoint(mobile) {
            padding: 20px 10px 0;
            height: auto;
            background-size: auto 300px;
            background-position: 100% 100%, top center;
            background-image: linear-gradient(rgba(204, 108, 132, 0) 65%, #01ACE4 85%), url(../img/wholesale-sale.png);

            .card__title {
                font-size: 50px;
            }

            .card__content {
                gap: 8px;
                padding: 20px 0;
                font-size: 22px;
            }

            .card__text {
                font-size: 14px;
            }
        }

        @include media_breakpoint(small-mobile) {
            text-align: center;
            background-size: auto 63vw;
            background-position: right bottom;
            background-image: url(../img/wholesale-sale.png);

            .card__title {
                font-size: 45px;
            }

            .card__text {
                margin-top: 20px;
                margin-bottom: 63vw;
            }
        }
    }

    .card.-new-business {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 555px;
        padding: 60px 40px;
        gap: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #F4C946;
        background-image: url(../img/wholesale-busines.png);

        .card__text {
            display: flex;
            max-width: 360px;
            margin-left: auto;
            font-size: 30px;
        }

        .card__title {
            display: block;
            max-width: 310px;
            margin-left: auto;
            font-size: 40px;
            text-transform: uppercase;
        }

        .image-arrow {
            bottom: 96px;
            right: -48px;
        }

        @include media_breakpoint(tablet) {
            justify-content: flex-start;
            height: 100%;
            padding: 40px 20px;
            background-position: left top;

            .card__text {
                font-size: 24px;
            }
            .card__title {
                max-width: 260px;
                margin-top: auto;
                font-size: 34px;
            }
        }

        @media only screen and (max-width: 1000px) {
            gap: 12px;
            align-items: flex-start;
            min-height: 600px;

            .card__text {
                max-width: none;
                margin-left: 0;

                br {
                    display: none;
                }
            }
        }

        @include media_breakpoint(mobile) {
            gap: 20px;
            padding: 40px 10px;
            min-height: 300px;
            background-size: 100% 100%, auto 100%;
            background-position: center, left bottom;
            background-image:  linear-gradient(-90deg, #F4C946 0%, rgba(253, 190, 1, 1) 40%, rgba(243, 171, 191, 0) 60%), url("../img/wholesale-busines.png");

            .card__text {
                max-width: calc(100% - 200px);
                margin-left: auto;

            }

            .image-arrow {
                top: auto;
                bottom: -60px;
                right: 20px;
                transform: rotate(90deg) scale(0.75);
            }
        }

        @media only screen and (max-width: 420px) {
            min-height: 450px;
            padding: 20px;
            background-size: 100% 20%, 480px auto;
            background-position: top center, left bottom;
            background-image:  linear-gradient( #FAD161 80%, rgba(243, 171, 191, 0) 100%), url("../img/wholesale-busines.png");;

            .card__text {
                max-width: 100%;
                font-size: 22px;
                br {
                    display: none;
                }
            }

            .card__title {
                max-width: none;
                font-size: 8vw;
                text-align: center;
            }
        }


    }

    .card.-new-business-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 60px 40px 20px;

        .card__text {
            display: block;
            max-width: 380px;
            margin-left: auto;
            padding-top: 40px;
            font-size: 30px;
        }


        @include media_breakpoint(tablet) {
            height: auto;
            min-height: 100%;
            padding: 40px 20px;

            .card__text {
                max-width: 300px;
                font-size: 24px;
            }
        }
    }

    .card.-communication {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        height: 100%;
        min-height: 340px;
        max-width: 320px;
        padding: 40px 20px;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 700;
        text-align: center;

        &.-request {
            background-color: #3FC4EA;
        }
        &.-phone {
            background-color: #E38799;
        }
        &.-mail {
            background-color: #F9D25E;
        }

        svg {
            width: 120px;
            height: 80px;
        }

        @include media_breakpoint(mobile) {
            flex-direction: row;
            justify-content: flex-start;
            max-width: none;
            min-height: auto;
            padding: 40px 10px;
            gap: 20px;
            text-align: left;
            font-size: 18px;

            svg {
                width: 60px;
                height: 40px;
            }
        }
    }

    .wholesale-benefit {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        gap: 20px;

        svg {
            width: 130px;
            height: 80px;
        }

        @include media_breakpoint(tablet) {
            svg {
                width: 110px;
                height: 65px;
            }
        }

        @include media_breakpoint(mobile) {
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
            max-width: 450px;
            text-align: left;
            font-size: 14px;

            svg {
                width: 60px;
                height: 45px;
            }
        }
    }
}