.wholesale-page {
    .card.-pyrotechnics {
        background-image: url("../img/box-pyrotechnics.png");
    }
    .card.-my-business {
        background-image: url("../img/box-my-business.png");
    }
    .card.-corporate-purchase {
        background-image: url("../img/box-corporate-purchase.png");
    }
}